# temporary/work files
.Rprofile
.Rhistory
.RData
*.log
*.aux
*.out
*.bbl
*.blg
*.fdb_latexmk
Rplots.pdf

# backup files
*~

# not versioned files and folders
adm/
literature/

# unneeded folders
.cache/
auto/
logs/

# Compiled files
figures/
docs/medical-case-confidentiality-agreement.pdf
