# temporary/work files
.Rprofile
.Rhistory
.RData
*.log
*.aux
*.out
*.bbl

# backup files
*~

# not versioned files and folders
adm/
literature/

# unneeded folders
.cache/
auto/
logs/

# Compiled files
docs/medical-case-confidentiality-agreement.pdf
